<div class="container container-styles">
    <div class="panel panel-primary">
        <div class="panel-heading">{{pageTitle}}</div>
        <div class="panel-body">
            <div class="row">
                <span class="img-responsive center-block logo-styles">
                    <span class="glyphicon glyphicon-shopping-cart"> </span>
                </span>
                <p id="div1" class="shadow title-styles">E-Commerce </p>       
            </div>
            <br />
            <div class="row">
                <div class="text-center text-styles">An online app to purchase Online</div>
                <button class="b1" type="button" class="btn btn-success" routerLink="/adminPage">Admin Page</button>
                <button class="b2" type="button" class="btn btn-primary" routerLink="/user">User Module</button>
            </div>
        </div>
    </div>
</div>