
<h1>Admin-View Item</h1>
<button class="b1" type="button" class="btn btn-link" routerLink="/adminPage">Back to Dashboard</button>
<div class="card" style="width: 55rem; height: 30rem;">
    <div class="card-body">
    <table datatable class="table table-bordered table-striped table-hover">
        <tr>
            <th>Category</th><td>{{item.category}}</td>
        </tr>
        <tr>
            <th>Title</th><td>{{item.skuId}}</td>
        </tr>
        <tr>
            <th>SKU Id</th><td>{{item.title}}</td>
        </tr>
        <tr>
            <th>Description</th><td>{{item.description}}</td>
        </tr>
        <tr>
            <th>Price</th><td>{{item.price}}</td>
        </tr>
    </table>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
    <button class="btn btn-primary" style="float: right;" (click)="edit()">Edit</button>
    </div>